body .container {
    display: flex;
    justify-content: center;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 550px;
  width: 450px;
  height: 450px;
  background: rgb(2,0,36);
  background: rgb(2,0,36);
  padding: 20px;
  border-radius: 20px;
  position: relative;
}

.title {
  font-size: 28px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.message, .signup {
  color: rgba(200, 249, 255, 0.822);
  font-size: 14px;
}

.signup {
  text-align: center;
}

.signup a {
  color: rgb(0, 141, 235);
}

.signup a:hover {
  text-decoration: underline royalblue;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(0, 204, 255, 0.363);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: rgb(0, 0, 0);
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

/**/
.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.submit {
  border: none;
  outline: none;
  background-color: royalblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
}

.submit:hover {
  background-color: rgb(56, 90, 194);
}